<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LOCA_CAR.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-6FAIU81\MSSQLSERVER1;Password=123;User ID=sa;Initial Catalog=Loca_Car"
            providerName="System.Data.OleDb" />
        <add name="LOCA_CAR.Properties.Settings.Loca_CarConnectionString"
            connectionString="Data Source=DESKTOP-6FAIU81\MSSQLSERVER1;Initial Catalog=Loca_Car;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>